<form action="/figures" method="post">
  <label for="figure_name">Figure: </label></br>
  <input id="figure_name" type="text" name="figure[name]"></br>

  <label><h4>Landmarks: </h4></label>
  <% Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label></br>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"></br>
  <% end %>

  <label for="new_landmark"><h4>Or, create a new landmark:</h4></label>
  <input id="new_landmark" type="text" name="landmark[name]">
  
  <label><h4>Titles: </h4></label>
  <% Title.all.each do |title| %>
    <label><%= title.name %></label></br>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"></br>
  <% end %>

  <label for="new_title"><h4>Or, create a new title:</h4></label>
  <input id="new_title" type="text" name="title[name]">

  <input type="submit" value="Create New Figure">
</form>
